<div class="header-image">
  <h1 class="text-center header-content"><strong>ようこそ</strong></h1>
  <br>
  <% if user_signed_in? %>
    <p class="text-center"><a href="/rooms/" class="btn btn-success">チャット一覧を見る</a></p>
  <% end %>
</div>
<br>